In [1]:
import numpy as np

A = np.random.randn(4,5)
A[1] = 0
A[:,2] = 0
A

array([[-0.10613117,  1.27333533,  0.        , -0.94031585,  2.26671193],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [-0.90962507, -0.40250945,  0.        ,  0.9068764 , -1.37024642],
       [ 0.10408599, -0.17599533,  0.        ,  0.5921369 , -0.60930981]])

In [8]:
B = np.arange(1,101).reshape(10,10)
B
C = B[:,[1,3,5,7,9]].T
C

array([[  2,  12,  22,  32,  42,  52,  62,  72,  82,  92],
       [  4,  14,  24,  34,  44,  54,  64,  74,  84,  94],
       [  6,  16,  26,  36,  46,  56,  66,  76,  86,  96],
       [  8,  18,  28,  38,  48,  58,  68,  78,  88,  98],
       [ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100]])

In [12]:
import pandas as pd
ts = pd.Series(np.arange(10),index=pd.date_range("2018-08-20",freq='W-MON',periods=10))
ts

2018-08-20    0
2018-08-27    1
2018-09-03    2
2018-09-10    3
2018-09-17    4
2018-09-24    5
2018-10-01    6
2018-10-08    7
2018-10-15    8
2018-10-22    9
Freq: W-MON, dtype: int32

In [16]:
df = pd.DataFrame(np.arange(1,17).reshape(4,4),columns = ['a','b','c','d'])
df.index = pd.period_range("2018Q1",freq='Q',periods=4)
df

         a   b   c   d
2018Q1   1   2   3   4
2018Q2   5   6   7   8
2018Q3   9  10  11  12
2018Q4  13  14  15  16