### Assignment 4: Numpy and Pandas
#### Cesiley Barnes
#### Due;10/19/21 at 11:55pm

In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
#step 1
df=pd.read_csv('crime_incident_data2017.csv')
#step 2a
print('The first five columns of the data are\n',df.head())

The first five columns of the data are
                     Address  Case Number Crime Against     Neighborhood  \
0                       NaN  17-X4762181        Person              NaN
1                       NaN  17-X4757824      Property       Centennial
2  200 BLOCK OF SE 78TH AVE    17-900367      Property       Montavilla
3                       NaN  17-X4748982      Property  Southwest Hills
4                       NaN  17-X4748982      Property  Southwest Hills

   Number of Records Occur Date Occur Month Year  Occur Time  \
0                  1     1/1/96           1/1/96         800
1                  1    1/20/00           1/1/00        1615
2                  1    12/1/03          12/1/03         800
3                  1     1/1/10           1/1/10           0
4                  1     1/1/10           1/1/10           0

   Offense Category  Offense Count                             Offense Type  \
0      Sex Offenses              1                                     Rape
1    Fraud Offenses              1                           Identity Theft
2    Fraud Offenses              1  False Pretenses/Swindle/Confidence Game
3    Fraud Offenses              1                           Identity Theft
4  Larceny Offenses              1                        All Other Larceny

   Open Data Lat  Open Data Lon  Open Data X  Open Data Y Report Date  \
0            NaN            NaN          NaN          NaN     1/26/17
1            NaN            NaN          NaN          NaN     1/20/17
2        45.5207       -122.583    7668150.0     682825.0      1/9/17
3            NaN            NaN          NaN          NaN      1/5/17
4            NaN            NaN          NaN          NaN      1/5/17

  Report Month Year
0            1/1/17
1            1/1/17
2            1/1/17
3            1/1/17
4            1/1/17

In [3]:
#step 2b
print('The last five columns of the data are\n',df.tail())

The last five columns of the data are
                             Address Case Number Crime Against   Neighborhood  \
41027   8800 BLOCK OF NE SANDY BLVD   17-285386       Society         Sumner
41028     9700 BLOCK OF SE STARK ST   17-286082       Society      Hazelwood
41029     9700 BLOCK OF SE STARK ST   17-286413       Society      Hazelwood
41030               UNKNOWN ADDRESS   17-286445       Society            NaN
41031  8000 BLOCK OF SE POWELL BLVD   17-286659       Society  Foster-Powell

       Number of Records Occur Date Occur Month Year  Occur Time  \
41027                  1    8/31/17           8/1/17         535
41028                  1    8/31/17           8/1/17        1619
41029                  1    8/31/17           8/1/17        1959
41030                  1    8/31/17           8/1/17        2021
41031                  1    8/31/17           8/1/17        2354

             Offense Category  Offense Count              Offense Type  \
41027  Drug/Narcotic Offenses              1  Drug/Narcotic Violations
41028   Prostitution Offenses              1              Prostitution
41029   Prostitution Offenses              1              Prostitution
41030   Prostitution Offenses              1              Prostitution
41031   Weapon Law Violations              1    Weapons Law Violations

       Open Data Lat  Open Data Lon  Open Data X  Open Data Y Report Date  \
41027        45.5554       -122.571    7671560.0     695399.0     8/31/17
41028        45.5191       -122.563    7673292.0     682101.0     8/31/17
41029        45.5191       -122.563    7673292.0     682101.0     8/31/17
41030            NaN            NaN          NaN          NaN     8/31/17
41031        45.4974       -122.580    7668725.0     674298.0     8/31/17

      Report Month Year
41027            8/1/17
41028            8/1/17
41029            8/1/17
41030            8/1/17
41031            8/1/17

In [4]:
#step 3
print('The shape of the data before dropping Null values:\n',df.shape)

The shape of the data before dropping Null values:
 (41032, 17)

In [5]:
#step 4
df1=df.copy
df1=pd.DataFrame(df.dropna())
#step5
print('The shape of the data after dropping Null values is:\n',df1.shape)

The shape of the data after dropping Null values is:
 (36146, 17)

In [6]:
#step6 
df=pd.DataFrame(df)
column0=df['Address'].fillna(method='bfill', inplace=True)
column3=df['Neighborhood'].fillna(method='bfill',inplace=True)
column11=df['Open Data Lat'].fillna(method='bfill',inplace=True)
column12=df['Open Data Lon'].fillna(method='bfill',inplace=True)
column13=df['Open Data X'].fillna(method='bfill',inplace=True)
column14=df['Open Data Y'].fillna(method='bfill',inplace=True)
print('True=Yes/False=No, does df have any missing values?:',df.isnull().values.any())

True=Yes/False=No, does df have any missing values?: False

### Justification for Step 6
1.) For the zero,3rd,11th,12th,13th and 14th columns, I used the back fill method because there are enough neighborhoods that are grouped together that it seemed logical, also, because all columns have to do with address, the missing values need to be the same. In all of the columns, the last row of the columns have information and does not require filling.

2.) The 1st,2nd,4th,5th,6th,7th,8th,9th,10th,15th and 16th columns have no NaN values using df['Column Name'].isnull().values.any(). Output: False

In [7]:
#step7
df_earliest=df['Report Date'].min()
print('The earliest report date is\n',
      df_earliest)
df_latest=df['Report Date'].max()
print('The latest report date is\n',
     df_latest)

The earliest report date is
 1/1/17
The latest report date is
 8/9/17

In [8]:
#step8
df_value=df['Report Date'].value_counts()
print('The best day was\n',
      df_value.index[-1])
print('The worst day was\n',
     df_value.index[0])

The best day was
 1/11/17
The worst day was
 5/31/17

In [9]:
#step9
df1=df[['Report Date','Offense Type','Offense Count']]
df2=df1.loc[df1['Report Date'] == '7/4/17']
df3=df2['Offense Count'].sum()
print('The Number of crimes reported on July 4th, 2017 is:',df3)

The Number of crimes reported on July 4th, 2017 is: 132

In [10]:
#step10
df4=df['Offense Category']
print('The Offense Categories are:\n',
      df4)

The Offense Categories are:
 0                  Sex Offenses
1                Fraud Offenses
2                Fraud Offenses
3                Fraud Offenses
4              Larceny Offenses
                  ...
41027    Drug/Narcotic Offenses
41028     Prostitution Offenses
41029     Prostitution Offenses
41030     Prostitution Offenses
41031     Weapon Law Violations
Name: Offense Category, Length: 41032, dtype: object

In [11]:
#step11
df5=df4.value_counts()
print('The count of offenses under each category is:\n',
      df5)

The count of offenses under each category is:
 Larceny Offenses                16781
Assault Offenses                 5348
Motor Vehicle Theft              4799
Vandalism                        4189
Fraud Offenses                   3309
Burglary                         2901
Drug/Narcotic Offenses           1148
Robbery                           680
Counterfeiting/Forgery            470
Sex Offenses                      436
Weapon Law Violations             298
Arson                             221
Prostitution Offenses             177
Embezzlement                       78
Stolen Property Offenses           59
Kidnapping/Abduction               56
Sex Offenses, Nonforcible          19
Animal Cruelty Offenses            19
Homicide Offenses                  14
Extortion/Blackmail                13
Pornography/Obscene Material       11
Human Trafficking Offenses          6
Name: Offense Category, dtype: int64

In [15]:
#step12
df6=df.drop(['Offense Type'], axis=1)
df6.head()

,Address,Case Number,Crime Against,Neighborhood,Number of Records,Occur Date,Occur Month Year,Occur Time,Offense Category,Offense Count,Open Data Lat,Open Data Lon,Open Data X,Open Data Y,Report Date,Report Month Year
0,200 BLOCK OF SE 78TH AVE,17-X4762181,Person,Centennial,1,1/1/96,1/1/96,800,Sex Offenses,1,45.5207,-122.583,7668150.0,682825.0,1/26/17,1/1/17
1,200 BLOCK OF SE 78TH AVE,17-X4757824,Property,Centennial,1,1/20/00,1/1/00,1615,Fraud Offenses,1,45.5207,-122.583,7668150.0,682825.0,1/20/17,1/1/17
2,200 BLOCK OF SE 78TH AVE,17-900367,Property,Montavilla,1,12/1/03,12/1/03,800,Fraud Offenses,1,45.5207,-122.583,7668150.0,682825.0,1/9/17,1/1/17
3,5400 BLOCK OF NE MALLORY AVE,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Fraud Offenses,1,45.5625,-122.664,7647987.0,698581.0,1/5/17,1/1/17
4,5400 BLOCK OF NE MALLORY AVE,17-X4748982,Property,Southwest Hills,1,1/1/10,1/1/10,0,Larceny Offenses,1,45.5625,-122.664,7647987.0,698581.0,1/5/17,1/1/17